/* Стили для текста и таймера */
.header-info {
    display: flex; /* Используем flexbox для размещения элементов в строку */
    justify-content: space-between; /* Равномерное распределение элементов по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 20px; /* Отступы для создания пространства вокруг текста и таймера */
    background-color: #000000; /* Фон для блока с текстом и таймером */
    color: #ffffff; /* Цвет текста */
    position: relative; /* Относительное позиционирование для дополнительного контроля */
    margin-top: 100px; /* Отступ сверху, чтобы разместить блок ниже */
    margin-bottom: 1px; /* Отступ снизу, чтобы разделить с карточками */
    width: 100%; /* Ширина контейнера на весь экран */
}

/* Таймер */
#timer {
    font-size: 12px; /* Размер шрифта для таймера */
    font-weight: bold; /* Жирный шрифт для таймера */
}

/* Текст */
.header-text {
    font-size: 12px; /* Размер шрифта для текста */
    font-weight: bold; /* Жирный шрифт для текста */
}

/* Контейнер для карточек */
.cards-container {
    display: flex;
    justify-content: center; /* Центрируем карточки по горизонтали */
    align-items: center; /* Центрируем карточки по вертикали */
    overflow: hidden; /* Прячем лишнее содержимое */
    width: 100vw; /* Ширина контейнера на весь экран */
    height: 200px; /* Высота контейнера, чтобы соответствовать высоте карточек и отступам */
    margin: 0 auto; /* Автоматические отступы для центрирования */
}

/* Карточка */
.card {
    background-color: transparent; /* Убираем фон у карточек */
    border: 2px solid #ffffff; /* Белая обводка */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    flex: 0 0 120px; /* Фиксированная ширина карточки */
    max-width: 120px; /* Максимальная ширина карточки */
    margin: 0 10px; /* Промежутки между карточками */
}

/* Изображение карточки */
.card-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Эффект зума для активной карточки */
.card.active {
    transform: scale(1.1);
    z-index: 1;
}

/* Запрещаем прокрутку страницы */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}
