@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #000000; /* Черный фон */
    color: #ffffff; /* Белый текст для всего сайта */
}

.user-info-container {
    padding: 20px;
    background-color: #000000; /* Черный фон для контейнера с информацией */
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1); /* Легкая белая тень */
    color: #ffffff; /* Белый текст */
}

.user-info {
    text-align: center;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    height: 1px;
    background-color: #ffffff; /* Белая разделительная линия */
    margin: 10px 0;
}

#coin-count {
    font-size: 16px;
    color: #ffffff; /* Белый текст для количества монет */
}

.mining-container {
    text-align: center;
    padding: 20px;
    background-color: #000000; /* Черный фон для контейнера майнинга */
    color: #ffffff; /* Белый текст */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000; /* Черный фон для кнопки */
    color: #ffffff; /* Белый текст на кнопке */
    border: 2px solid #ffffff; /* Белая граница кнопки */
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #333333; /* Темно-серый фон при наведении */
}

#mining-timer {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff; /* Белый текст для таймера майнинга */
}

#footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #000000; /* Черный фон для футера */
    box-shadow: 0px -2px 8px rgba(255, 255, 255, 0.1); /* Легкая белая тень */
}

.footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff; /* Белый цвет текста в футере */
}

.footer-button img {
    filter: invert(1); /* Инвертируем цвет иконок, чтобы сделать их белыми */
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.footer-button span {
    font-size: 12px;
}
