.user-info-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: url('../static/images/fon-user.webp'); /* Фоновое изображение */
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.user-info-container {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-left {
    font-size: 18px;
    font-weight: bold;
}

.coin-info {
    display: flex;
    align-items: center;
}

.coin-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin-right: 8px;
}

#coin-count {
    font-size: 16px;
    color: #ffffff;
}
