@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #000000; /* Черный фон */
    color: #ffffff; /* Белый текст */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    touch-action: manipulation; /* Отключаем жесты масштабирования на сенсорных экранах */
}

/* Основные стили футера */
#footer-section {
    position: fixed;
    bottom: 20px; /* Отступ от нижней границы страницы */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px; /* Максимальная ширина футера */
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    border: 2px solid #dddddd; /* Цвет и толщину рамки */
    border-radius: 15px; /* Закругленные углы футера */
    box-shadow: none; /* Удаляем тень */
    backdrop-filter: blur(5px); /* Уменьшенный блюр фона */
    z-index: 10; /* Убедитесь, что футер находится поверх других элементов */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Стили для кнопок футера */
.footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff; /* Белый цвет текста в футере */
    transition: color 0.3s ease; /* Плавный переход для цвета текста */
}

.footer-button img {
    filter: invert(1); /* Инвертируем цвет иконок, чтобы сделать их белыми */
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.footer-button span {
    font-size: 12px;
}

/* Медиазапросы для адаптации под мобильные устройства */
@media (max-width: 768px) {
    .footer-button img {
        width: 20px;
        height: 20px;
    }

    .footer-button span {
        font-size: 10px;
    }
}

@media (min-width: 1024px) {
    .footer-button img {
        width: 30px;
        height: 30px;
    }
}